/* StudentProfileCard.module.css */
.student-profile-card {
  display: flex; 
  align-items: center;
  padding: var(--spacing-l);
  gap: var(--spacing-m);
  border-radius: var(--border-radius-l);
  background-color: var(--color-neutral-weak);
  border: 2px solid var(--color-neutral-strong);
  border-style: solid 1px;
  width: 30%; 
  box-shadow: var(--shadow-l);
  transition: transform 0.3s ease;

}

.customRoleText {
  font-size: 1.0 rem; 
  color: #888; 
  margin-top: -4 px;
  font-style: italic; 
}



.student-profile-card:hover {
  transform: scale(1.05);
}

.student-profile-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

